@use './palette' as *;

footer {


    .header_footer {
        background-color: $primary_color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1rem;

        img {
            width: 50px;
            padding: 0.25rem;
        }

        div {
            display: flex;
            align-items: center;
            margin: 1rem;
        }
    }

    .main_footer {
        padding: 3rem 0;
        background-image: url(./assets/img/footer-bg.jpg);

        .container {
            max-width: 1200px;
            margin: auto;

            .content {
                width: 30%;

                .footer_title {
                    padding: 0.5rem 0;
                    color: $light;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.2rem;
                }

                .footer_link {
                    font-size: 0.75rem;
                    color: $dark-light;
                    display: block;
                    text-decoration: none;
                    padding: 0.25rem 0;
                }
            }
        }
    }

    .footer_footer {
        background-color: gray;
        height: 100px;
    }
}