@use './palette' as *;
@use './jumbotron';
@use './comicList';

main {
    background-color: $secondary_color;

    .load {
        text-align: center;
        padding: 4rem 0;

        a {
            text-transform: uppercase;
            color: $light;
            background-color: $primary_color;
            padding: 0.5rem 3rem;
            font-weight: bold;
            cursor: pointer;

        }
    }
}